@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat:wght@300&family=Raleway:wght@300;400&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Audiowide', cursive;
 
}

body{
    height: 100vh;
    background-image: url(img/fondo.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main{
    display: inherit;
    flex: 2;
    justify-content: center;
    align-items: center;
}
footer{
    display: inherit;
    align-items: center;
    height: 50px;
    gap: 13px;
    color: #fefefe;
    
}

#calculator{
    background-color: #22222a /* rgb(55, 50, 50) */;
    box-shadow: 0px 0px 8px 0px black;
    border-radius: 10px;
    padding: 24px;
    width: 393px;
   
}
 #display{
    border: 1px solid #fefefe;
    color: chartreuse;
    border-radius: 8px;
    
}

.input{
    text-align: end;
    padding: 0 10px;
    font-size: 1.3rem;
}
.output{
    text-align: end;
    padding: 0 10px;
    font-size: 1.45rem;
}

.buttons{
    display: grid;
    max-width: 200px;
    gap: 8px;
    grid-template-columns: repeat(4,80px);
    grid-template-rows: repeat(6,70px);
    justify-content: start;
    font-size: 3px;
}

.buttons > button{
    border-radius: 8px;
    font-size: 2rem;
    border: 1px none black;
    transition: all 0.3s ease;
}
.buttons > button:hover {
    cursor: pointer;
    transform: translateY(-5px);
}


.display{
  grid-column:1/5;
}

.item-1{
    grid-column: 1/3;
    background:lightcoral;
}
.item-2{
    grid-column: 3/5;
    background: lightcoral;
}

.item-6,.item-10,.item-14,.item-18{
    background-color: skyblue;
}
.item-3,.item-4,.item-5,.item-7
,.item-8,.item-9,.item-11,.item-12
,.item-13,.item-15,.item-16{
    background-color: #dddddd;
}

.item-17{
    background-color:palegreen;
}